<div {{bind-attr class=":file-label currentFile::hidden"}}>
  <div class="ui black horizontal label">
    <i class="file icon"></i> {{currentFile}}
  </div>
  <a href="#" {{action "replace"}}>Replace</a>
</div>

<div {{bind-attr class="currentFile:hidden"}}>
  <input type="file" class="hidden">
  <button class="ui small black button" {{action "triggerClick"}}>Upload file</button>
</div>
