
<div class="ui grid">

  <div class="row" {{action "toggleEditing"}}>
    <div class="one wide column">
      {{#if witness.visible}}
        <i class="unhide icon"></i>
      {{/if}}
    </div>
    <div class="eleven wide column">
      <div class="header">{{witness.formattedDateRange}}</div>
      Volume {{witness.volume}}, Issue {{witness.issue}}
    </div>
    <div class="four wide right column">
      {{#if witness.file}}
        <button class="ui small black button" {{action "viewFile" bubbles=false}}>View</button>
      {{/if}}
      <button class="ui small red button" {{action "remove" bubbles=false}}>Delete</button>
    </div>
  </div>

  <div {{bind-attr class=":editing :row :slide witness.editing::hidden"}}>
    <div class="sixteen wide column">
      <form class="ui fluid form">
        <div class="field">
          {{file-upload oldFile=witness.file change="fileSelected"}}
        </div>
        <div class="four fields">
          <div class="field">
            <label>Volume</label>
            <div class="ui left labeled input">
              {{input value=witness.volume}}
              {{#if errors.volume}}
                <div class="ui red pointing above label">{{errors.volume}}</div>
              {{/if}}
            </div>
          </div>
          <div class="field">
            <label>Issue</label>
            <div class="ui left labeled input">
              {{input value=witness.issue}}
              {{#if errors.issue}}
                <div class="ui red pointing above label">{{errors.issue}}</div>
              {{/if}}
            </div>
          </div>
          <div class="date field">
            <label>From Date</label>
            <div class="ui left labeled input">
              {{view "date-field" date=witness.from}}
              {{#if errors.from}}
                <div class="ui red pointing above label">{{errors.from}}</div>
              {{/if}}
            </div>
          </div>
          <div class="date field">
            <label>To Date</label>
            <div class="ui left labeled input">
              {{view "date-field" date=witness.to}}
              {{#if errors.to}}
                <div class="ui red pointing above label">{{errors.to}}</div>
              {{/if}}
            </div>
          </div>
        </div>
        <div class="field">
          <div class="ui checkbox">
            {{input type="checkbox" checked=witness.visible}}
            <label>Publish to app/website</label>
          </div>
        </div>
        <div class="ui buttons field">
          <button class="ui button" {{action "cancel"}}>Cancel</button>
          <div class="or"></div>
          <button {{bind-attr class=":ui :blue :button witness.fileUpload.isUploading:disabled"}} {{action "save"}}>Save</button>
        </div>
        <div {{bind-attr class=":ui :blue :progress witness.fileUpload.showProgressBar::hidden witness.fileUpload.didUpload:successful"}}>
          <div class="bar" {{bind-attr style="witness.fileUpload.progressStyle"}}></div>
        </div>
      </form>
    </div>
  </div>

</div>
