
<i class="close deny icon" {{action 'cancel' view}}></i>
<div class="header">
	Todo
</div>
<div class="content">
<div class="ui form">
	<div {{bind-attr class=":field errors.title:error"}}>
		<label>Title</label>
		{{input value=title}}
		{{#if errors.title}}
		<div class="ui red pointing above label">{{errors.title}}<div>
		{{/if}}
	</div>
</div>
</div>
<div class="actions">
	<button class="ui approve button" {{action 'save' view}}>Save</button>
	<button class="ui deny button" {{action 'cancel' view}}>Cancel</button>
</div>

