<div class="actions">
  <button type="button" {{bind-attr class=":ui :blue :button feature.urlIsValid::disabled feature.isUploading:disabled feature.isControllerDirty::disabled"}} {{action "save"}}>Save</button>
  <div class="ui slider checkbox">
    {{input type="checkbox" checked=feature.actualSize}}
    <label>Actual Size</label>
  </div>
  <div class="ui fluid url form">
    <div class="field">
      {{validated-url value=feature.url isValid=feature.urlIsValid placeholder="URL to open on tap (optional)"}}
    </div>
  </div>
</div>

<div class="active-label">
  <div class="ui toggle checkbox">
    {{input type="checkbox" checked=feature.active}}
    <label>Active</label>
  </div>
</div>

<div {{bind-attr class=":devices feature.actualSize::little"}}>
  <div class="iphone4 size">
    <h3 class="ui header">iPhone 4</h3>
    <h5 class="ui header">640 &times; 734</h5>
    <div {{bind-attr class=":feature-frame feature.iphoneFourShowingImage:showing-image"}}>
      <div class="feature-content">
        {{#if feature.iphoneFourFileUpload}}
          <img {{bind-attr src="feature.iphoneFourFileUpload.base64Image"}}>
        {{else}}
          {{#if feature.iphoneFourImage}}
            <img {{bind-attr src="feature.iphoneFourImageURL"}}>
          {{else}}
            <!-- <div class="size-label">Drop file here</div> -->
          {{/if}}
        {{/if}}
      </div>
    </div>
    {{file-upload oldFile=feature.iphoneFourImage change="iphoneFourFileSelected"}}
    <div {{bind-attr class=":ui :blue :progress feature.iphoneFourFileUpload.showProgressBar::hidden feature.iphoneFourFileUpload.didUpload:successful"}}>
      <div class="bar" {{bind-attr style="feature.iphoneFourFileUpload.progressStyle"}}></div>
    </div>
  </div>

  <div class="iphone5 size">
    <h3 class="ui header">iPhone 5</h3>
    <h5 class="ui header">640 &times; 910</h5>
    <div {{bind-attr class=":feature-frame feature.iphoneFiveShowingImage:showing-image"}}>
      <div class="feature-content">
        {{#if feature.iphoneFiveFileUpload}}
          <img {{bind-attr src="feature.iphoneFiveFileUpload.base64Image"}}>
        {{else}}
          {{#if feature.iphoneFiveImage}}
            <img {{bind-attr src="feature.iphoneFiveImageURL"}}>
          {{else}}
            <!-- <div class="size-label">Drop file here</div> -->
          {{/if}}
        {{/if}}
      </div>
    </div>
    {{file-upload oldFile=feature.iphoneFiveImage change="iphoneFiveFileSelected"}}
    <div {{bind-attr class=":ui :blue :progress feature.iphoneFiveFileUpload.showProgressBar::hidden feature.iphoneFiveFileUpload.didUpload:successful"}}>
      <div class="bar" {{bind-attr style="feature.iphoneFiveFileUpload.progressStyle"}}></div>
    </div>
  </div>

  <div class="iphone6 size">
    <h3 class="ui header">iPhone 6</h3>
    <h5 class="ui header">650 &times; 1108</h5>
    <div {{bind-attr class=":feature-frame feature.iphoneSixShowingImage:showing-image"}}>
      <div class="feature-content">
        {{#if feature.iphoneSixFileUpload}}
          <img {{bind-attr src="feature.iphoneSixFileUpload.base64Image"}}>
        {{else}}
          {{#if feature.iphoneSixImage}}
            <img {{bind-attr src="feature.iphoneSixImageURL"}}>
          {{else}}
            <!-- <div class="size-label">Drop file here</div> -->
          {{/if}}
        {{/if}}
      </div>
    </div>
    {{file-upload oldFile=feature.iphoneSixImage change="iphoneSixFileSelected"}}
    <div {{bind-attr class=":ui :blue :progress feature.iphoneSixFileUpload.showProgressBar::hidden feature.iphoneSixFileUpload.didUpload:successful"}}>
      <div class="bar" {{bind-attr style="feature.iphoneSixFileUpload.progressStyle"}}></div>
    </div>
  </div>

  <div class="iphone6plus size">
    <h3 class="ui header">iPhone 6 Plus</h3>
    <h5 class="ui header">1242 &times; 1869</h5>
    <div {{bind-attr class=":feature-frame feature.iphoneSixPlusShowingImage:showing-image"}}>
      <div class="feature-content">
        {{#if feature.iphoneSixPlusFileUpload}}
          <img {{bind-attr src="feature.iphoneSixPlusFileUpload.base64Image"}}>
        {{else}}
          {{#if feature.iphoneSixPlusImage}}
            <img {{bind-attr src="feature.iphoneSixPlusImageURL"}}>
          {{else}}
            <!-- <div class="size-label">Drop file here</div> -->
          {{/if}}
        {{/if}}
      </div>
    </div>
    {{file-upload oldFile=feature.iphoneSixPlusImage change="iphoneSixPlusFileSelected"}}
    <div {{bind-attr class=":ui :blue :progress feature.iphoneSixPlusFileUpload.showProgressBar::hidden feature.iphoneSixPlusFileUpload.didUpload:successful"}}>
      <div class="bar" {{bind-attr style="feature.iphoneSixPlusFileUpload.progressStyle"}}></div>
    </div>
  </div>
</div>
